<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
        <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
        <title>Bookers</title>
        <meta name="csrf-param" content="authenticity_token">
        <meta name="csrf-token" content="HDVeiRDH/Ze2xr4j6a5ukbhHEpPZS0KsPsCR7pH8vHrXvqe5RjYU51Vx+/RB34PEYc1yq+HHWoo0hUDE4krCgA==">
    </hrad>
    <body>
        <h1>Editing Book</h1>
        <form class="edit_book" id="edit_book_149834" action="/books/149834" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="pJ4jMGmqll+40iyH2EcO7iLK6K+9DouUQe1o6Uv79CfG5p5UG/WxPSe4jHzgWgRUds8Ab41PPVu4XaHC+Lydhg==">

        <div class="field">
        <label for="book_title">Title</label>
        <input class="book_title" type="text" value="リーダブルコード" name="book[title]" id="book_title">
        </div>

        <div class="field">
        <label for="book_body">Body</label>
        <textarea class="book_body" name="book[body]" id="book_body">より良いコードを書くためのシンプルで実践的なテクニック</textarea>
        </div>

        <div class="actions">
        <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book">
        </div>
        </form>
        
        <a class="show_149834" href="/books/149834">Show</a>
         |
        <a class="back" href="/books">Back</a>
    </body>
</html>    
        